<!-- navigation bar -->
<header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/giveboard">Give Help Board</a>
            </li>
            <li>
                <a href="/getboard"><u>Get Help Board</u></a>
            </li>
            <li id="login-logout">
               {{#if loggedIn}}
                <a href="">Create New Post</a>
                <button class="btn btn-light">logout</button>
                {{else}}
                <a href="/login" id="navlogin">sign up or log in</a>
                 {{/if}}
            </li>
        </ul>
    </nav>
</header>

<div>
    <h1>Get Help Board</h1>
</div>
{{!-- posts --}}