<!-- navigation bar -->
<header>
    <nav>
        <ul>
            <li>
                <a>Home</a>
            </li>
            <li>
                <a>Give Help Board</a>
            </li>
            <li>
                <a><u>Get Help Board</u></a>
            </li>
            <li id="login-logout">
                <!-- will have handlebar logic to handle sessions -->
                <!-- {{#if loggedIn}} -->
                <button class="btn btn-light">logout</button>
                <!-- {{else}} -->
                <a>sign up or log in</a>
                <!-- {{/if}} -->
            </li>
        </ul>
    </nav>
</header>

<div>
    <h1>Get Help Board</h1>
</div>
{{!-- posts --}}