<!-- navigation bar -->
<header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/giveboard" id="giveboardnav"><u>Give Help Board</u></a>
            </li>
            <li>
                <a href="/getboard" id="getnav">Get Help Board</a>
            </li>
            <li id="login-logout">
                {{#if login}}
                <a href="">Create New Post</a>
                <button class="btn btn-light">logout</button>
                {{else}}
                <a href="/login" id="navlogin">sign up or log in</a>
                {{/if}}
            </li>
        </ul>
    </nav>
</header>
<div>
    <h1>Give Help Board</h1>
</div>
{{!-- posts --}}