body {
    background-image: url('./images/whitecorkboard2.jpg');
    background-repeat: no-repeat;
    background-size: 2000px;
}

#full-login-page {
    margin: 50px;
}

.login-page, .signup-page {
    padding: 50px;
}